--swiftversion 5.4
--symlinks ignore
--exclude CSource,Carthage,.build

--indent 4
--ifdef no-indent
--stripunusedargs unnamed-only
--nospaceoperators ...,..<
--importgrouping testable-top
--extensionacl on-extension

--header "Copyright (c) diva-e NEXT GmbH. All rights reserved.\nLicensed under the MIT License."

--disable redundantReturn
--disable trailingclosures
--disable blankLinesAroundMark
